.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.statusActive{
  color: white;
  background-color: red;
  border-radius: 18%;
  padding: 6px 14px;
  font-weight: bold;
}
.status{
  color: white;
  background-color: rgb(169, 179, 231);
  border-radius: 18%;
  padding: 6px 14px;
  font-weight: bold;
}
.addjob{
  color: #d28012;
  background-color: #afcc234a;
}
.mt-15{
  margin-top: 15px;
}